/*===================================================================*/
/*                       Universal Styling                           */
/*===================================================================*/

body{
  margin: auto;
  width: 1880px;
}


/*===================================================================*/
/*                       Header Section                              */
/*===================================================================*/

header{
  margin-top: 20px;
  margin-left: 10px;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

#HeaderTitle{
  margin-left: 10px;
  line-height: 50px;
}

#HeaderNavigation{
  margin-left: 627px;
  font-size: 25px;
  font-weight: normal;
}

#HeaderNavigationList{
  display: inline-flex;
}

.HeaderNavigationListItem{
  padding: 11.5px;
  border: solid black 1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


/*===================================================================*/
/*                       Body Section                                */
/*===================================================================*/

#AllFrames{
  margin-top: 30px;
  display: flex;
}

#Results{
  width: 376px;
  height: 774px;
  border: solid black 1px;
}

#ResultsTableTitle{
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
  font-size: xx-large;
}

#ResultsTable{
  margin-top: 60px;
  margin-left: 55px;
  display: block;
  padding: 5px;
}

#ResultsTableHeader{
  border: black solid 1px;
}

#ResultsTableHeader th{
  padding: 5px;
  width: 75px;
}

#ProductFrames{
  clear: both;
}

#Products{
  width: 1504px;
  height: 385px;
  border: solid black 1px;
  text-align: center;
}

#ProductsTable{
  margin: auto;
  margin-top: 21px;
  width: 1410px;
  height: 300px;
}

#ProductsTableHeader{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

#ViewResults{
  width: 1504px;
  height: 77px;
  border: solid black 1px;
  text-align: center;
  line-height: 77px;
}

#ViewResultsButton{
  width: 1052.8px;
  height: 37.9px;
}

#AnalyticalProductChart{
  margin: auto;
  width: 1504px;
  height: 308px;
  border: solid black 1px;
}

#ProductChart{
  margin-top: 20px;
  margin-left: 20px;
}


/*===================================================================*/
/*                       Footer Section                                */
/*===================================================================*/

footer{
  height: 80px;
  border: black solid 1px;
  text-align: center;
}

#CopyRight{
  margin-top: 20px;
  font-size: xx-large;
}
